# WEB SCRAPING EXCEPTION HANDLING

In [1]:
# Import all the required libraries
import selenium
from selenium import webdriver
import pandas as pd
import time
from selenium.common.exceptions import WebDriverException,NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Connect to webdriver
driver=webdriver.Chrome(r'C:/Users/Dazzle/Documents/chromedriver.exe')

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
# Visitng the site url
try :
    url1='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
    driver.get(url1)
except WebDriverException :
    print('WebDriverException')

In [4]:
# Creating empty lists
Rank=[]
Name=[]
Artist=[]
U_date=[]
Views=[]

In [5]:
# Scraping details

try :
    rn=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]')
    for i in rn :
        r=i.text
        Rank.append(r)
except NoSuchElementException :
    Rank.append('-')

time.sleep(1)
try :
    nm=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[2]')
    for i in nm :
        n=i.text.split('[')[0]
        Name.append(n)
except NoSuchElementException :
    Name.append('-')
    
time.sleep(1)
try :
    ar=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[3]')
    for i in ar :
        a=i.text
        Artist.append(a)
except NoSuchElementException :
    Artist.append('-')

time.sleep(1)
try :
    ud=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[5]')
    for i in ud :
        u=i.text
        U_date.append(u)
except NoSuchElementException :
    U_date.append('-')
    
time.sleep(1)
try :
    vw=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[4]')
    for i in vw :
        v=i.text
        Views.append(v)
except NoSuchElementException :
    Views.append('-')

In [6]:
# Printing lengths
print(len(Rank),len(Name),len(Artist),len(U_date),len(Views))

30 30 30 30 30

In [7]:
# Make dataframe
df1 = pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'U_date':U_date,'Views':Views})
df1

,Rank,Name,Artist,U_date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",9.90
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",7.68
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.06
3,4.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.57
4,5.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.37
5,6.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",4.79
6,7.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.54
7,8.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.48
8,9.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.41
9,10.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",4.37
10,11.,"""Gangnam Style""",Psy,"July 15, 2012",4.29
11,12.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",3.77
12,13.,"""Sugar""",Maroon 5,"January 14, 2015",3.61
13,14.,"""Sorry""",Justin Bieber,"October 22, 2015",3.50
14,15.,"""Roar""",Katy Perry,"September 5, 2013",3.49
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.47
16,17.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",3.44
17,18.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.38
18,19.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.20
19,20.,"""Faded""",Alan Walker,"December 3, 2015",3.20
20,21.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.20
21,22.,"""Axel F""",Crazy Frog,"June 16, 2009",3.15
22,23.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.14
23,24.,"""Let Her Go""",Passenger,"July 25, 2012",3.14
24,25.,"""Lean On""",Major Lazer,"March 22, 2015",3.14
25,26.,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.13
26,27.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.05
27,28.,"""Mi Gente""",J Balvin,"June 29, 2017",3.02
28,29.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.02
29,30.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.01

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [8]:
# Visiting the url
try :
    url2='https://www.bcci.tv/'
    driver.get(url2)
    time.sleep(5)
except WebDriverException :
    print('WebDriverException')

In [9]:
# Click the International tab
try :
    btn2=driver.find_element_by_xpath('//*[@id="navigation"]/ul[1]/li[2]/a')
    btn2.click()
except NoSuchElementException :
    print('NoSuchElementException')
time.sleep(3)

In [10]:
# Making empty lists
M_title=[]
Series=[]
Place=[]
Date=[]
Time=[]

In [11]:
# Scrapping details
try :
    mt=driver.find_elements_by_xpath('//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"]//div[@class="fix-place ng-binding ng-scope"]')
    for i in mt :
        mm=i.text.split('-')[0]
        M_title.append(mm)
except NoSuchElementException :
    M_title.append('-')
    
time.sleep(1)
try :
    se=driver.find_elements_by_xpath('//div[@class="fixture-card-top"]/h5[2]/span')
    for i in se :
        ss=i.text
        Series.append(ss)
except NoSuchElementException :
    Series.append('-')

time.sleep(1)
try :
    pl=driver.find_elements_by_xpath('//div[@class="fixture-card-main col-lg-3 col-md-6 col-sm-12 ng-scope"]//div[@class="fix-place ng-binding ng-scope"]')
    for i in pl :
        pp=i.text.split('-')[1]
        Place.append(pp)
except NoSuchElementException :
    Place.append('-')
    
time.sleep(1)
try :
    dt=driver.find_elements_by_xpath('//div[@class="fixture-card-top"]/div/div/h5[@class="ng-binding"]')
    for i in dt :
        dd=i.text
        Date.append(dd)
except NoSuchElementException :
    Date.append('-')
    
time.sleep(1)
try :
    tm=driver.find_elements_by_xpath('//div[@class="fixture-card-top"]/div/div/h5[@class="text-right ng-binding"]')
    for i in tm :
        tt=i.text
        Time.append(tt)
except NoSuchElementException :
    Time.append('-')

In [12]:
# Printing lengths
print(len(M_title),len(Series),len(Place),len(Date),len(Time))

6 6 6 6 6

In [13]:
# Make dataframe
df2 = pd.DataFrame({'Match title':M_title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df2

,Match title,Series,Place,Date,Time
0,14th ODI,ACC U19 - ASIA CUP 2021,"SHARJAH CRICKET STADIUM, UAE",30 DEC 2021,11:00 AM IST
1,2nd Test,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"The Wanderers Stadium, Johannesburg",3 JAN 2022,1:30 PM IST
2,3rd Test,INDIA TOUR OF SOUTH AFRICA TEST SERIES 2021-22,"Newlands, Cape Town",11 JAN 2022,2:00 PM IST
3,1st ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",19 JAN 2022,2:00 PM IST
4,2nd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Boland Park, Paarl",21 JAN 2022,2:00 PM IST
5,3rd ODI,INDIA TOUR OF SOUTH AFRICA ODI SERIES 2021/22,"Newlands, Cape Town",23 JAN 2022,2:00 PM IST

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [14]:
# Visiting the site
try :
    url3='https://www.guru99.com/'
    driver.get(url3)
    time.sleep(5)
except WebDriverException :
    print('WebDriverException')

In [15]:
# Click the Selenium option
try :
    btn3=driver.find_element_by_xpath('//*[@id="java_technologies"]/li[3]')
    btn3.click()
    time.sleep(5)
    tutorial=driver.find_element_by_xpath('//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
    tutorial.click()
except NoSuchElementException :
    print('NoSuchElementException')
time.sleep(3)

In [16]:
# Making empty lists
Name=[]
Desc=[]

In [17]:
# Scrapping details
try :
    nm=driver.find_elements_by_xpath('//table//tr/td[1]')
    for i in nm :
        n=i.text
        Name.append(n)
except NoSuchElementException :
    Name.append('-')
    
time.sleep(1)
try :
    ds=driver.find_elements_by_xpath('//table//tr/td[2]')
    for i in ds :
        d=i.text
        Desc.append(d)
except NoSuchElementException :
    Desc.append('-')

In [18]:
# Printing lengths
print(len(Name),len(Desc))

41 41

In [19]:
# Make dataframe
df3 = pd.DataFrame({'Name':Name,'Description':Desc})
df3

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [23]:
# Visiting url
try :
    url4='https://www.statisticstimes.com/'
    driver.get(url4)
    time.sleep(3)
except WebDriverException :
    print('WebDriverException')
time.sleep(5)

In [24]:
# Click on Economy tab
try :
    tab4=driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/button/i')
    tab4.click()
    time.sleep(3)
    dd4=driver.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]')
    dd4.click()
except ElementNotInteractableException :
    print("No page")
except ElementClickInterceptedException :
    print('ElementClickInterceptedException')

In [25]:
# Click the close ad button
try :
    close5=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[2]/div/div/div[2]/div/div/div[3]/div/span')
    close5.click()
except NoSuchElementException :
    print('No page')

No page

In [26]:
# Select 'GDP of Indian States'
try :
    option4=driver.find_element_by_xpath('//div[@style="float:left;background-color:seashell;width:400px;height:800px;"]/ul/li[1]/a')
    option4.click()
except NoSuchElementException :
    print('No page')

time.sleep(3)

In [27]:
# Creating empty lists
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

In [28]:
# Scrapping details
try :
    rnk=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody//tr/td[1]')
    for i in rnk :
        rn=i.text
        Rank.append(rn)
except NoSuchElementException :
    Rank.append('-')

time.sleep(3)
try :
    stt=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody//tr/td[2]')
    for i in stt :
        st=i.text
        State.append(st)
except NoSuchElementException :
    State.append('-')
    
time.sleep(3)
try :
    gsp11=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody//tr/td[3]')
    gsp12=driver.find_elements_by_xpath('//table[@id="table_id"]/tbody//tr/td[4]')
    for i,j in zip(gsp11,gsp12) :
        g1=i.text
        g2=j.text
        GSDP1.append(g1+'|'+g2)
except NoSuchElementException :
    GSDP1.append('-')
    
time.sleep(3)
try :
    gsp21=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[7]')
    gsp22=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[8]')
    for i,j in zip(gsp21,gsp22) :
        gs1=i.text
        gs2=j.text
        GSDP2.append(gs1+'|'+gs2)
except NoSuchElementException :
    GSDP2.append('-')
    
time.sleep(3)
try :
    shr=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]')
    for i in shr :
        sh=i.text
        Share.append(sh)
except NoSuchElementException :
    Share.append('-')
    
time.sleep(3)
try :
    gdp=driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp :
        gd=i.text
        GDP.append(gd)
except NoSuchElementException :
    GDP.append('-')

In [29]:
# Printing lengths
print(len(Rank),len(State),len(State),len(GSDP1),len(GSDP2),len(Share),len(GDP))

33 33 33 33 33 33 33

In [31]:
# Make dataframe
df4 = pd.DataFrame({'Rank':Rank,'State':State,'GSDP curr':GSDP1,'GSDP pre':GSDP2,'Share':Share,'GDP':GDP})
df4

,Rank,State,GSDP curr,GSDP pre,Share,GDP
0,1,Maharashtra,"-|2,632,792","-|2,039,074",13.94%,399.921
1,2,Tamil Nadu,"1,845,853|1,630,208","1,312,929|1,215,307",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818|1,584,764","1,166,817|1,123,982",8.39%,240.726
3,4,Gujarat,"-|1,502,899","-|1,186,379",7.96%,228.290
4,5,Karnataka,"1,631,977|1,493,127","1,156,039|1,091,077",7.91%,226.806
5,6,West Bengal,"1,253,832|1,089,898","793,223|739,525",5.77%,165.556
6,7,Rajasthan,"1,020,989|942,586","711,627|677,428",4.99%,143.179
7,8,Andhra Pradesh,"972,782|862,957","672,018|621,301",4.57%,131.083
8,9,Telangana,"969,604|861,031","663,258|612,828",4.56%,130.791
9,10,Madhya Pradesh,"906,672|809,592","561,801|522,009",4.29%,122.977
10,11,Kerala,"-|781,653","-|559,412",4.14%,118.733
11,12,Delhi,"856,112|774,870","634,408|590,569",4.10%,117.703
12,13,Haryana,"831,610|734,163","572,240|531,085",3.89%,111.519
13,14,Bihar,"611,804|530,363","414,977|375,651",2.81%,80.562
14,15,Punjab,"574,760|526,376","418,868|397,669",2.79%,79.957
15,16,Odisha,"521,275|487,805","396,499|376,877",2.58%,74.098
16,17,Assam,"-|315,881","-|234,048",1.67%,47.982
17,18,Chhattisgarh,"329,180|304,063","243,477|231,182",1.61%,46.187
18,19,Jharkhand,"328,598|297,204","240,036|224,986",1.57%,45.145
19,20,Uttarakhand,"-|245,895","-|193,273",1.30%,37.351
20,21,Jammu & Kashmir,"-|155,956","-|112,755",0.83%,23.690
21,22,Himachal Pradesh,"165,472|153,845","124,403|117,851",0.81%,23.369
22,23,Goa,"80,449|73,170","63,408|57,787",0.39%,11.115
23,24,Tripura,"55,984|49,845","40,583|36,963",0.26%,7.571
24,25,Chandigarh,"-|42,114","-|31,192",0.22%,6.397
25,26,Puducherry,"38,253|34,433","25,093|23,013",0.18%,5.230
26,27,Meghalaya,"36,572|33,481","26,695|24,682",0.18%,5.086
27,28,Sikkim,"32,496|28,723","20,017|18,722",0.15%,4.363
28,29,Manipur,"31,790|27,870","20,673|19,300",0.15%,4.233
29,30,Nagaland,"-|27,283","-|17,647",0.14%,4.144
30,31,Arunachal Pradesh,"-|24,603","-|16,676",0.13%,3.737
31,32,Mizoram,"26,503|22,287","18,797|16,478",0.12%,3.385
32,33,Andaman & Nicobar Islands,-|-,-|-,-,-

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [32]:
# Visiting site
try :
    url5='https://github.com/'
    driver.get(url5)
    time.sleep(3)
except WebDriverException :
    print('WebDriverException')

In [33]:
# Clicking on exlore option
try :
    tab5=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
    tab5.click()
    time.sleep(3)
    opt5=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
    opt5.click()
except NoSuchElementException :
    print('NoSuchElementException')
except ElementNotInteractableException :
    print('ElementNotInteractableException')

time.sleep(3)

In [34]:
# Making empty lists
r_title=[]
r_desc=[]
c_counts=[]
l_used=[]

In [35]:
# Scrapping details

try :
    rtt=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/h1')
    for i in rtt :
        rt=i.text
        r_title.append(rt)
except NoSuchElementException :
    r_title.append('-')
    
time.sleep(1)
try :
    rds=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/p')
    for i in rds :
        rd=i.text
        r_desc.append(rd)
except NoSuchElementException :
    r_desc.append('-')

time.sleep(1)
try :
    cnt=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/div[2]/a[2]')
    for i in cnt :
        cc=i.text
        c_counts.append(cc)
except NoSuchElementException :
    c_counts.append('-')

time.sleep(1)
try :
    lng=driver.find_elements_by_xpath('//*[@id="js-pjax-container"]/div[3]/div/div[2]/article/div[2]/span[1]/span[2]')
    for i in lng :
        lu=i.text
        l_used.append(lu)
except NoSuchElementException :
    l_used.append('-')
    
l_used.insert(6,'-')
l_used.insert(18,'-')
l_used.insert(21,'-')
l_used.insert(23,'-')
l_used.insert(24,'-')

In [36]:
# Printing lengths
print(len(r_title),len(r_desc),len(c_counts),len(l_used))

25 25 25 25

In [37]:
# Make dataframe
df5 = pd.DataFrame({'Repository title':r_title,'Repository description':r_desc,'Contributors count':c_counts,'Language used':l_used})
df5

,Repository title,Repository description,Contributors count,Language used
0,babysor / MockingBird,🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 s...,"2,040",JavaScript
1,apache / maven-mvnd,Apache Maven Daemon,67,Java
2,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,"28,779",Python
3,fanux / sealos,一条命令离线安装高可用kubernetes，3min装完，500M，100年证书，版本不要太...,"1,072",Go
4,gto76 / python-cheatsheet,Comprehensive Python Cheatsheet,"4,905",Python
5,sindresorhus / awesome,😎 Awesome lists about all kinds of interesting...,"22,386",Python
6,widevinedump / WV-AMZN-4K-RIPPER,"Tool To download Amazon 4k SDR HDR 1080, CDM I...",116,-
7,crater-invoice / crater,Open Source Invoicing Solution for Individuals...,978,PHP
8,marktext / marktext,"📝A simple and elegant markdown editor, availab...","1,769",JavaScript
9,ValdikSS / GoodbyeDPI,GoodbyeDPI—Passive Deep Packet Inspection bloc...,563,C
10,Yamato-Security / WELA,WELA (Windows Event Log Analyzer): The Swiss A...,14,PowerShell
11,minosproject / minos2,Minos2 is a micro-kernel OS for ARMv8-a,6,C
12,sxyu / svox2,Plenoxels: Radiance Fields without Neural Netw...,96,Python
13,teslamotors / light-show,Tesla Light Show,142,Python
14,ssssssss-team / spider-flow,新一代爬虫平台，以图形化方式定义爬虫流程，不写代码即可完成爬虫。,708,Java
15,bevyengine / bevy,A refreshingly simple data-driven game engine ...,"1,097",Rust
16,trekhleb / javascript-algorithms,📝 Algorithms and data structures implemented i...,"21,359",JavaScript
17,danistefanovic / build-your-own-x,🤓 Build your own (insert technology here),"11,661",Java
18,ja-netfilter / ja-netfilter,A javaagent framework,553,-
19,awesome-selfhosted / awesome-selfhosted,A list of Free Software network services and w...,"5,156",JavaScript
20,mkrl / misbrands,The world's most hated IT stickers,152,Go
21,solana-labs / token-list,The community maintained Solana token registry,"4,557",-
22,youngyangyang04 / leetcode-master,LeetCode 刷题攻略：200道经典题目刷题顺序，共60w字的详细图解，视频难点剖析，5...,"5,203",JavaScript
23,GitHubDaily / GitHubDaily,GitHubDaily 分享内容定期整理与分类。欢迎推荐、自荐项目，让更多人知道你的项目。,"1,300",-
24,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,"9,551",-

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [38]:
# Visiting site
try :
    url6='https://www.billboard.com/'
    driver.get(url6)
    time.sleep(3)
except WebDriverException :
    print('WebDriverException')

In [39]:
# Clicking on exlore option
try :
    tab6=driver.find_element_by_xpath('//*[@id="main-wrapper"]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a')
    tab6.click()
    time.sleep(3)
    opt6=driver.find_element_by_xpath('//*[@id="main-wrapper"]/header/div[2]/div/nav/ul/li[1]/a')
    opt6.click()
except NoSuchElementException :
    print('NoSuchElementException')
except ElementNotInteractableException :
    print('ElementNotInteractableException')

time.sleep(3)

In [40]:
# Making empty lists
s_name=[]
a_name=[]
l_rank=[]
p_rank=[]
week=[]

In [41]:
# Scrapping details

try :
    snm=driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div[@class="o-chart-results-list-row-container"]/ul/li[4]/ul/li/h3')
    for i in snm :
        sn=i.text
        s_name.append(sn)
except NoSuchElementException :
    s_name.append('-')
    
time.sleep(1)
try :
    anm=driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')
    for i in anm :
        an=i.text
        a_name.append(an)
except NoSuchElementException :
    a_name.append('-')
    
time.sleep(1)
try :
    lrnk=driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]/span')
    for i in lrnk :
        lr=i.text
        l_rank.append(lr)
except NoSuchElementException :
    l_rank.append('-')

time.sleep(1)
try :
    prnk=driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]/span')
    for i in prnk :
        pr=i.text
        p_rank.append(pr)
except NoSuchElementException :
    p_rank.append('-')
    
time.sleep(1)
try :
    wek=driver.find_elements_by_xpath('//*[@id="post-1479786"]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span')
    for i in wek :
        wk=i.text
        week.append(wk)
except NoSuchElementException :
    week.append('-')

In [42]:
# Printing lengths
print(len(s_name),len(a_name),len(l_rank),len(p_rank),len(week))

100 100 100 100 100

In [43]:
# Make dataframe
df6 = pd.DataFrame({'Song name':s_name,'Artist name':a_name,'Last week rank':l_rank,'Peak rank':p_rank,'Weeks on board':week})
df6

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,All I Want For Christmas Is You,Mariah Carey,2,1,49
1,Rockin' Around The Christmas Tree,Brenda Lee,3,2,43
2,Easy On Me,Adele,1,1,10
3,Jingle Bell Rock,Bobby Helms,6,3,40
4,A Holly Jolly Christmas,Burl Ives,5,4,24
...,...,...,...,...,...
95,No Love,Summer Walker & SZA,78,13,6
96,Bad Man (Smooth Criminal),Polo G,70,49,5
97,Feel Alone,Juice WRLD,-,98,1
98,Heart On Fire,Eric Church,95,89,4
99,Bubbly,Young Thug With Drake & Travis Scott,91,20,9

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [47]:
# Visiting site
try :
    url7='https://www.naukri.com/'
    driver.get(url7)
    time.sleep(3)
except WebDriverException :
    print('WebDriverException')

In [48]:
# Click on recruiters option
try :
    link7=driver.find_element_by_xpath('//*[@id="root"]/div[1]/div/ul[1]/li[2]/a').get_attribute('href')
    # Visiting the new link
    driver.get(link7)
    time.sleep(3)
except NoSuchElementException :
    print('NoSuchElementException')
except ElementNotInteractableException :
    print('ElementNotInteractableException')
time.sleep(3)

In [49]:
# Search for Data science
try :
    src7=driver.find_element_by_xpath('//*[@id="skill"]/div[1]/div[2]/input')
    src7.send_keys('Data science')
    time.sleep(3)
    btn7=driver.find_element_by_xpath('//*[@id="qsbFormBtn"]')
    btn7.click()
except NoSuchElementException :
    print('NoSuchElementException')
except ElementNotInteractableException :
    print('ElementNotInteractableException')

In [50]:
# Making empty lists
name=[]
designation=[]
company=[]
skill=[]
location=[]

In [51]:
# Scrapping details
try :
    nm=driver.find_elements_by_xpath('//*[@id="tabP-1"]/div[@class="outerRecSec"]/div/div[1]/div[1]/p/a[1]/span')
    for i in nm :
        n=i.text
        name.append(n)
except NoSuchElementException :
    name.append('-')
    
time.sleep(1)
try :
    ds=driver.find_elements_by_xpath('//*[@id="tabP-1"]/div[@class="outerRecSec"]/div/div[1]/div[1]/p/span[1]')
    for i in ds :
        d=i.text
        designation.append(d)
except NoSuchElementException :
    designation.append('-')
    
time.sleep(1)
try :
    cm=driver.find_elements_by_xpath('//*[@id="tabP-1"]/div[@class="outerRecSec"]/div/div[1]/div[1]/p/a[2]')
    for i in cm :
        c=i.text
        company.append(c)
except NoSuchElementException :
    company.append('-')

time.sleep(1)
try :
    skk=driver.find_elements_by_xpath('//*[@id="tabP-1"]/div[@class="outerRecSec"]/div/div/div[2]')
    for i in skk :
        s=i.text
        skill.append(s)
except NoSuchElementException :
    skill.append('-')
    
time.sleep(1)
try :
    loc=driver.find_elements_by_xpath('//*[@id="tabP-1"]/div[@class="outerRecSec"]/div/div[1]/div[1]/p/span[2]/small')
    for i in loc :
        l=i.text
        location.append(l)
except NoSuchElementException :
    location.append('-')
location.insert(29,'-')
location.insert(48,'-')

In [52]:
# Printing lengths
print(len(name),len(designation),len(company),len(skill),len(location))

50 50 50 50 50

In [53]:
# Make dataframe
df7=pd.DataFrame({'Name':name,'Designation':designation,'Company':company,'Skill set':skill,'Location':location})
df7

,Name,Designation,Company,Skill set,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
18,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",-
30,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
33,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Hyderabad / Secunderabad
48,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",-
49,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [54]:
# Visiting the site url
try :
    url8='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
    driver.get(url8)
except WebDriverException :
    print('WebDriverException')

In [55]:
# Making empty lists
b_name=[]
a_name=[]
v_sold=[]
publisher=[]
genre=[]

In [56]:
# Scrapping details
try :
    bn=driver.find_elements_by_xpath('//table/tbody/tr/td[2]')
    for i in bn :
        b=i.text
        b_name.append(b)
except NoSuchElementException :
    b_name.append('-')
    
time.sleep(1)
try :
    an=driver.find_elements_by_xpath('//table/tbody/tr/td[3]')
    for i in an :
        a=i.text
        a_name.append(a)
except NoSuchElementException :
    a_name.append('-')
    
time.sleep(1)
try :
    vs=driver.find_elements_by_xpath('//table/tbody/tr/td[4]')
    for i in vs :
        v=i.text
        v_sold.append(v)
except NoSuchElementException :
    v_sold.append('-')

time.sleep(1)
try :
    pb=driver.find_elements_by_xpath('//table/tbody/tr/td[5]')
    for i in pb :
        p=i.text
        publisher.append(p)
except NoSuchElementException :
    publisher.append('-')
    
time.sleep(1)
try :
    gn=driver.find_elements_by_xpath('//table/tbody/tr/td[6]')
    for i in gn :
        g=i.text
        genre.append(g)
except NoSuchElementException :
    genre.append('-')

In [57]:
# Printing lengths
print(len(b_name),len(a_name),len(v_sold),len(publisher),len(genre))

100 100 100 100 100

In [58]:
# Make dataframe
df8=pd.DataFrame({'Book Name':b_name,'Author Name':a_name,'Volumes Sold':v_sold,'Publisher':publisher,'Genre':genre})
df8

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [59]:
# Visiting the site url
try :
    url9='https://www.imdb.com/list/ls095964455/'
    driver.get(url9)
except WebDriverException :
    print('WebDriverException')

In [60]:
# Making empty lists
name=[]
y_span=[]
genre=[]
r_time=[]
rate=[]
votes=[]

In [61]:
# Scrapping details
try :
    nm=driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div[2]/h3/a')
    for i in nm :
        n=i.text
        name.append(n)
except NoSuchElementException :
    name.append('-')
    
time.sleep(1)
try :
    ys=driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div[2]/h3/span[2]')
    for i in ys :
        y=i.text
        y_span.append(y)
except NoSuchElementException :
    y_span.append('-')
    
time.sleep(1)
try :
    gr=driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div[2]/p/span[5]')
    for i in gr :
        g=i.text
        genre.append(g)
except NoSuchElementException :
    genre.append('-')

time.sleep(1)
try :
    rt=driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div[2]/p/span[3]')
    for i in rt :
        r=i.text
        r_time.append(r)
except NoSuchElementException :
    r_time.append('-')
    
time.sleep(1)
try :
    rtt=driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div[2]/div/div/span[2]')
    for i in rtt :
        rr=i.text
        rate.append(rr)
except NoSuchElementException :
    rate.append('-')
    
time.sleep(1)
try :
    vt=driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]')
    for i in vt :
        v=i.text
        votes.append(v)
except NoSuchElementException :
    votes.append('-')

In [62]:
# Printing lengths
print(len(name),len(y_span),len(genre),len(r_time),len(rate),len(votes))

100 100 100 100 100 100

In [63]:
# Make dataframe
df9=pd.DataFrame({'Name':name,'Year Span':y_span,'Genre':genre,'Run Time':r_time,'Ratings':rate,'Votes':votes})
df9

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,920,282"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"944,903"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"918,809"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"275,113"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"235,467"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,915"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,712"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"182,007"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"38,053"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"216,278"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [64]:
# Visiting site
try :
    url10='https://archive.ics.uci.edu/ml/index.php'
    driver.get(url10)
    time.sleep(3)
except WebDriverException :
    print(WebDriverException)

In [65]:
# Click on 'View ALL Data Sets' option
try :
    click10=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b')
    click10.click()
    time.sleep(3)
except NoSuchElementException :
    print('NoSuchElementException')
except ElementNotInteractableException :
    print('ElementNotInteractableException')
time.sleep(3)

In [66]:
# Making empty lists
d_name=[]
d_type=[]
task=[]
a_type=[]
noi=[]
noa=[]
year=[]

In [67]:
# Scrapping details
try :
    dnm=driver.find_elements_by_xpath('//tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a')
    for i in dnm :
        dn=i.text
        d_name.append(dn)
except NoSuchElementException :
    d_name.append('-')
    
time.sleep(1)
try :
    dtt=driver.find_elements_by_xpath('//tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p[@class="normal"]')
    for i in dtt :
        dt=i.text
        if dt==' ' :
            d_type.append('-')
        else :
            d_type.append(dt)
except NoSuchElementException :
    d_type.append('-')

time.sleep(1)
try :
    tsk=driver.find_elements_by_xpath('//tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p[@class="normal"]')
    for i in tsk :
        ts=i.text
        if ts==' ' :
            task.append('-')
        else :
            task.append(ts)
except NoSuchElementException :
    task.append('-')
    
time.sleep(1)
try :
    att=driver.find_elements_by_xpath('//tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p[@class="normal"]')
    for i in att :
        at=i.text
        if at==' ' :
            a_type.append('-')
        else :
            a_type.append(at)
except NoSuchElementException :
    a_type.append('-')

time.sleep(1)
try :
    nnoi=driver.find_elements_by_xpath('//tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p[@class="normal"]')
    for i in nnoi :
        ni=i.text
        if ni==' ' :
            noi.append('-')
        else :
            noi.append(ni)
except NoSuchElementException :
    noi.append('-')

time.sleep(1)
try :
    nnoa=driver.find_elements_by_xpath('//tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p[@class="normal"]')
    for i in nnoa :
        na=i.text
        if na==' ' :
            noa.append('-')
        else :
            noa.append(na)
except NoSuchElementException :
    noa.append('-')

time.sleep(1)
try :
    yr=driver.find_elements_by_xpath('//tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p[@class="normal"]')
    for i in yr :
        y=i.text
        if y==' ' :
            year.append('-')
        else :
            year.append(na)
except NoSuchElementException :
    year.append('-')

In [68]:
# Printing lengths
print(len(d_name),len(d_type),len(task),len(a_type),len(noi),len(noa),len(year))

622 622 622 622 622 622 622

In [69]:
# Make dataframe
df10=pd.DataFrame({'Dataset name':d_name,'Data type':d_type,'Task':task,'Attribute type':a_type,'No of instances':noi,'No of attribute':noa,'Year':year})
df10

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,2
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,2
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,-
3,Anonymous Microsoft Web Data,-,Recommender-Systems,Categorical,37711,294,2
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,2
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2
619,Maternal Health Risk Data Set,-,Classification,-,1014,7,2
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2